@font-face { 
	font-family: FiraSans; 
	src: url('FiraSansOT-Regular.otf'); 
} 

body {
    background-image:url(./fondo.png);
	background-repeat: no-repeat;
	margin: 0px;
	padding: 0px;
	height: 800px;
	width: 480px;

}

header{
	height: 5rem;
	margin: 0px;
	padding: 0px;
	background: -moz-linear-gradient(top, #cd6723, #bb482d);
	background: -ms-linear-gradient(top, #cd6723, #bb482d);
	background: -webkit-linear-gradient(top, #cd6723, #bb482d);
	background: -o-linear-gradient(top, #cd6723, #bb482d);
	background: linear-gradient(top, #cd6723, #bb482d;);
}

ol{
	list-style-type: none;
	margin: 0px;
	margin-top: 8rem;
	padding: 0px;

}

li{
	font-size: 2rem;
	color:#000000;+

}

a{
	font-family: FiraSans;
	display: block;
	background: -moz-linear-gradient(top, #fbfbfb, #cbcbcb);
	background: -ms-linear-gradient(top,  #fbfbfb, #cbcbcb);
	background: -webkit-linear-gradient(top, #fbfbfb, #cbcbcb);
	background: -o-linear-gradient(top,  #fbfbfb, #cbcbcb);
	background: linear-gradient(top,#fbfbfb, #cbcbcb);
	margin-left: 3rem;
	margin-right: 3rem;
	margin-top: 1rem;
	margin-bottom: 1rem;
	height: 3rem;
	text-align: center;
	color:#000000;

}

a:hover{
	background: -moz-linear-gradient(top, #00f8c0, #00aac8);
	background: -ms-linear-gradient(top,  #00f8c0, #00aac8);
	background: -webkit-linear-gradient(top, #00f8c0, #00aac8);
	background: -o-linear-gradient(top,  #00f8c0, #00aac8);
	background: linear-gradient(top, #00f8c0, #00aac8);

}


.titulo h1{
	font-family: FiraSans;
	font-size: 2.5rem;
	font-weight: lighter;
	color: #fff;
	margin: 0px;
	padding-top: 1rem;
	padding-bottom: 1rem;
	padding-left: 1rem;
	font-weight: 400;
	text-align: left;
	float: left;
}

.menuIzq{
	height: 5rem;
	width: 2rem;
	float: left;
	margin: 0px;
	padding: 0px;
	background-color: #cd6723;
}
